# Node.js 套件與記錄檔
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
logs/
*.log

# 建置輸出
dist/
build/
out/

# npm cache
.npm
.eslintcache

# 開發工具
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.tmp


# 作業系統
.DS_Store
Thumbs.db
desktop.ini

# Prisma
prisma/generated/
prisma/schema.prisma.bak
prisma/migrations/migration_lock.toml
.prisma/

# 環境變數
.env
.env.*
!.env.example

# Unit test / coverage reports
.coverage
coverage/
.cache
*.cover
cover/

# SSL 憑證和私鑰
certs/
*.pem
*.key
*.crt

# Docker volumes 資料
data/
logs/
postgres-data/